.navbar {
    background: rgb(56, 54, 54);
}

.navbar__main-container {
    padding: 20px 70px;
}

.navbar__links-container {
    display: flex;
    justify-content: space-evenly;
}

.navbar__logo-container {
    display: flex;
    max-width: calc(100% - 70px);
    width: 100%;
}
.navbar__logo {
    max-width: 100px;
    width: 100%;
}

.navbar__logo-text {
    width: 335px;
    max-width: 100%;
    margin-left: 18px;
}

.navbar__navigation{
    display: flex;
    flex-direction: column;
    width: 450px;
    max-width: calc(100% - 70px);
    list-style-type: none;
    padding: 0px;
    display: block;
}

.navbar__navigation-link {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: "MTV Upgrade Bold";
    margin-left: 15px;
}

.navbar__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.navbar__item:last-child {
    margin-bottom: 0px;
}

.navbar__copyright-container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.3;
    align-items: center;
}

.navbar__copyright-text {
    max-width: 335px;
    margin: 0px;
}