.header__container {
    background: #85B6C5;
    padding-bottom: 35px;
}

.header__images {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 9px solid #D9A786;
}

.header__line {
    bottom: 10px;
    border: none;
    background-color: #D9A786;
    color: #D9A786;
    height: 9px;
}

.header__main {
    max-width: 1100px;
    margin: auto;
}

.header__title {
    font-family: 'MTV Upgrade Bold';
    font-size: 144px;
    color: rgba(217, 167, 134, 1);
    text-shadow: 11px 4px 4px #94B5C3;
}

.header__logo-container {
    border-bottom: 4px solid #94B5C3;
}

.header__subtitle {
    font-size: 72px;
    line-height: 126.7%;
    text-align: right;
    color: #7594A8;
}

.header__contacts-logo {
    margin-right: 12px;
}