.about-studio {
    position: relative;
    background: #6695AA;
}

.about-studio__container {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    max-width: 1140px;
    margin: auto;
}

.about-studio__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.about-studio__logo-text {
    max-width: 59px;
    margin-top: 35px;
}

.about-studio__grid {
    position: relative;
    max-width: calc(100% - 170px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 100px;
    align-items: center;
}

.about-studio__line {
    position: absolute;
    right: calc(50% - 16px);
    top: calc(50% - 400px);
}

.about-studio__studio-img {
    width: 100%;
    object-fit: cover;
}

.about-studio__studio-text {
    font-size: 24px;
    line-height: 1.3;
    width: 100%;
    margin: 0px 18px;
}

.about-studio__logo {
    max-width: 140px;
    max-height: 140px;
}
