.navbar {
    background: rgb(56, 54, 54);
}

.navbar__main-container {
    margin: auto;
    max-width: 1140px;
    padding: 20px 70px;
}

.navbar__links-container {
    display: flex;
    justify-content: space-between;
}

.navbar__logo-container {
    display: flex;
    margin: auto 0px;
    text-decoration: none;
}
.navbar__logo {
    max-width: 100px;
    width: 100%;
}

.navbar__logo-text {
    max-width: 335px;
    font-family: "MTV Upgrade Bold";
    font-size: 57px;
    line-height: 1;
    color: #fff;
    -webkit-text-stroke: 2px #EAA985;

}

.navbar__navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    list-style-type: none;
    padding: 0px;
    display: block;
    margin: 30px 100px 0px auto;
}

.navbar__navigation-link {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: "MTV Upgrade Bold";
    margin-left: 15px;
}

.navbar__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.navbar__item:last-child {
    margin-bottom: 0px;
}

.navbar__copyright-container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.3;
    align-items: center;
}

.navbar__copyright {
    max-width: 40%;
}

.navbar__copyright-text {
    max-width: 33%;
    margin: 0px;
}

@media (max-width: 1186px) {
    .navbar__main-container {
        padding: 30px 35px;
    }
}

@media (max-width: 1050px) {
    .navbar__logo-container{
        flex-direction: column;
    }
    .navbar__logo-text {
        margin: 15px 0px 0px;
    }
    .navbar__navigation {
        margin: 0px 50px 0px auto;
    }
}

@media (max-width: 790px) {
    .navbar__logo-container {
        margin: auto;
    }

    .navbar__logo-text {
        display: none;
    }

    .navbar__navigation {
        margin: 0px 10px 0px auto;
    }

    .navbar__navigation-link {
        font-size: 22px;
    }
}

@media (max-width: 580px) {
    .navbar__main-container {
        padding: 15px;
    }
}

@media (max-width: 450px) {
    .navbar__links-container {
        flex-direction: column;
    }

    .navbar__navigation {
        margin: 20px auto;
        max-width: 230px;
    }

    .navbar__copyright-container {
        flex-direction: column-reverse;
    }

    .navbar__copyright {
        max-width: 100%;
    }
    
    .navbar__copyright-text {
        max-width: 90%;
        text-align: center;
    }
}