.market {
    position: relative;
    background: #6695AA;
}

.market__main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px;
    max-width: 1140px;
    height: 1024px;
    margin: auto;
}

.market__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market__logo-text {
    max-width: 59px;
    margin-top: 35px;
}

.market__logo {
    max-width: 140px;
    max-height: 140px;
}

.market__text-container {
    width: 100%;
    max-width: 420px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
}

.market__text {
    font-size: 20px;
    line-height: 1.3;
    text-align: justify;
    margin: 0px 20px 25px 20px;
    color: #fff;
}

.market__img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 455px;
    height: 800px;
    margin: 70px auto;
}

.market__img {
    object-fit: cover;  
    display: block;
    width: 100%;

}