.header {
    position: relative;
    background: linear-gradient(180deg, #6695AA 32.96%, #9DBBC9 63.14%, #FFFFFF 83.28%, rgba(102, 149, 170, 0) 366.13%);
    padding: 30px calc((100vw - min(1200px, calc(100vw - (35px + 35px)))) / 2);
    margin: auto;
}

.header__container {
    padding-bottom: 35px;
}

.header__logo-container {
    max-height: 360px;
    position: relative;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 55% 45%;
    align-items: center;
}

.header__logo-text {
    max-width: 822px;
    width:  calc(100% - 50px);
    max-height: 127px;
    align-self: end;
    margin-left: 50px;
}

.header__logo {
    max-width: 360px;
    width: 100%;
    object-fit: cover;
    z-index: 5;
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: center;
}

.header__line {
    border: none;
    background-color: #EAA985;
    color: #EAA985;
    height: 9px;
    margin: 0px;
    max-width: 90%;
    width: 90%;
    border-radius: 5px;
    z-index: 2;
    align-self: center;
    grid-column: 1/3;
    grid-row: 2/3;
}

.header__main-container {
    position: relative;
    border-bottom: 9px solid #6695AA;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.header__quote {
    max-width: 667px;
    font-weight: bold;
    font-size: 36px;
    line-height: 93.2%;
    color: #EAA985;
    margin: 30px auto 0px 180px;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__quote-author {
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.3;
}

.header__img {
    max-width: 800px;
    max-height: 400px;
    width: 100%;
}

.header__contacts {
    margin: 20px 0px 0px 20px;
}

.header__contacts-logo {
    margin-right: 12px;
}

.header__text{
    font-size: 24px;
    line-height: 1.3;
    max-width: 536px;
    margin: 20px;
    align-self: end;
}