.header {
    position: relative;
    background: linear-gradient(180deg, #6695AA 32.96%, #9DBBC9 63.14%, #FFFFFF 83.28%, rgba(102, 149, 170, 0) 366.13%);
}

.header__container {
    position: relative;
    padding: 30px 35px;
    max-width: 1140px;
    margin: auto;
}

.header__logo-container {
    max-height: 360px;
    position: relative;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 55% 45%;
    align-items: center;
}

.header__logo-text {
    max-width: 822px;
    width:  calc(100% - 50px);
    align-self: end;
    margin: 0px;
    margin-left: 50px;
    font-family: "MTV Upgrade Bold";
    font-size: 115px;
    line-height: 1;
    color: #fff;
    text-shadow: 
    -0   -5px 0   #EAA985,
     0   -5px 0   #EAA985,
    -0    5px 0   #EAA985,
     0    5px 0   #EAA985,
    -5px -0   0   #EAA985,
     5px -0   0   #EAA985,
    -5px  0   0   #EAA985,
     5px  0   0   #EAA985,
    -1px -5px 0   #EAA985,
     1px -5px 0   #EAA985,
    -1px  5px 0   #EAA985,
     1px  5px 0   #EAA985,
    -5px -1px 0   #EAA985,
     5px -1px 0   #EAA985,
    -5px  1px 0   #EAA985,
     5px  1px 0   #EAA985,
    -2px -5px 0   #EAA985,
     2px -5px 0   #EAA985,
    -2px  5px 0   #EAA985,
     2px  5px 0   #EAA985,
    -5px -2px 0   #EAA985,
     5px -2px 0   #EAA985,
    -5px  2px 0   #EAA985,
     5px  2px 0   #EAA985,
    -3px -5px 0   #EAA985,
     3px -5px 0   #EAA985,
    -3px  5px 0   #EAA985,
     3px  5px 0   #EAA985,
    -5px -3px 0   #EAA985,
     5px -3px 0   #EAA985,
    -5px  3px 0   #EAA985,
     5px  3px 0   #EAA985,
    -4px -5px 0   #EAA985,
     4px -5px 0   #EAA985,
    -4px  5px 0   #EAA985,
     4px  5px 0   #EAA985,
    -5px -4px 0   #EAA985,
     5px -4px 0   #EAA985,
    -5px  4px 0   #EAA985,
     5px  4px 0   #EAA985,
    -5px -5px 0   #EAA985,
     5px -5px 0   #EAA985,
    -5px  5px 0   #EAA985,
     5px  5px 0   #EAA985,
    -5px -5px 0   #EAA985,
     5px -5px 0   #EAA985,
    -5px  5px 0   #EAA985,
     5px  5px 0   #EAA985;
}

.header__logo {
    max-width: 360px;
    width: 100%;
    object-fit: cover;
    z-index: 5;
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: center;
}

.header__line {
    border: none;
    height: 9px;
    margin: 0px;
    border-radius: 5px;
    z-index: 2;
}

.header__line_orange {
    background-color: #EAA985;
    color: #EAA985;
    align-self: center;
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 90%;
    width: 90%;
}

.header__line_blue {
    background-color: #6695AA;
    color: #6695AA;
    max-width: 100%;
    width: 100%;
}

.header__quote {
    max-width: 667px;
    font-weight: bold;
    font-size: 36px;
    line-height: 93.2%;
    color: #EAA985;
    margin: 30px 10px 400px 180px;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__quote-author {
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.3;
}

.header__img {
    position: absolute;
    width: 801px;
    height: 398px;
    right: 0px;
    bottom: 90px;
    object-fit: contain;
}

.header__contacts {
    margin: 20px 0px 0px 20px;
}

.header__contacts-logo {
    margin-right: 12px;
}

.header__text{
    font-size: 24px;
    line-height: 1.3;
    max-width: 536px;
    margin: 5px 20px;
    align-self: end;
}

@media (max-width: 1186px) {
    .header__logo-text {
        font-size: 100px;
    }
}

@media (max-width: 1050px) {
    .header__logo-container {
        grid-template-rows: 80% 20%;
    }
}

@media (max-width: 830px) {
    .header__img  {
        width: 600px;
        height: 300px;
        bottom: 100px;
    }
}

@media (max-width: 790px) {
    .header__logo-text {
        font-size: 80px;
        text-shadow:0px 1px 0 rgb(234,169,133),0px -1px 0 rgb(234,169,133),1px 0px 0 rgb(234,169,133),-1px 0px 0 rgb(234,169,133),1px 1px 0 rgb(234,169,133),1px -1px 0 rgb(234,169,133),-1px 1px 0 rgb(234,169,133),-1px -1px 0 rgb(234,169,133),0px 2px 0 rgb(234,169,133),0px -2px 0 rgb(234,169,133),2px 0px 0 rgb(234,169,133),-2px 0px 0 rgb(234,169,133),2px 2px 0 rgb(234,169,133),2px -2px 0 rgb(234,169,133),-2px 2px 0 rgb(234,169,133),-2px -2px 0 rgb(234,169,133),0px 3px 0 rgb(234,169,133),0px -3px 0 rgb(234,169,133),3px 0px 0 rgb(234,169,133),-3px 0px 0 rgb(234,169,133),3px 3px 0 rgb(234,169,133),3px -3px 0 rgb(234,169,133),-3px 3px 0 rgb(234,169,133),-3px -3px 0 rgb(234,169,133);
-webkit-text-shadow:0px 1px 0 rgb(234,169,133),0px -1px 0 rgb(234,169,133),1px 0px 0 rgb(234,169,133),-1px 0px 0 rgb(234,169,133),1px 1px 0 rgb(234,169,133),1px -1px 0 rgb(234,169,133),-1px 1px 0 rgb(234,169,133),-1px -1px 0 rgb(234,169,133),0px 2px 0 rgb(234,169,133),0px -2px 0 rgb(234,169,133),2px 0px 0 rgb(234,169,133),-2px 0px 0 rgb(234,169,133),2px 2px 0 rgb(234,169,133),2px -2px 0 rgb(234,169,133),-2px 2px 0 rgb(234,169,133),-2px -2px 0 rgb(234,169,133),0px 3px 0 rgb(234,169,133),0px -3px 0 rgb(234,169,133),3px 0px 0 rgb(234,169,133),-3px 0px 0 rgb(234,169,133),3px 3px 0 rgb(234,169,133),3px -3px 0 rgb(234,169,133),-3px 3px 0 rgb(234,169,133),-3px -3px 0 rgb(234,169,133);
-moz-text-shadow:0px 1px 0 rgb(234,169,133),0px -1px 0 rgb(234,169,133),1px 0px 0 rgb(234,169,133),-1px 0px 0 rgb(234,169,133),1px 1px 0 rgb(234,169,133),1px -1px 0 rgb(234,169,133),-1px 1px 0 rgb(234,169,133),-1px -1px 0 rgb(234,169,133),0px 2px 0 rgb(234,169,133),0px -2px 0 rgb(234,169,133),2px 0px 0 rgb(234,169,133),-2px 0px 0 rgb(234,169,133),2px 2px 0 rgb(234,169,133),2px -2px 0 rgb(234,169,133),-2px 2px 0 rgb(234,169,133),-2px -2px 0 rgb(234,169,133),0px 3px 0 rgb(234,169,133),0px -3px 0 rgb(234,169,133),3px 0px 0 rgb(234,169,133),-3px 0px 0 rgb(234,169,133),3px 3px 0 rgb(234,169,133),3px -3px 0 rgb(234,169,133),-3px 3px 0 rgb(234,169,133),-3px -3px 0 rgb(234,169,133);
    }

    .header__logo-container {
        grid-template-rows: 85% 15%;
    }

    .header__quote {
        margin: 30px 10px 240px 80px;
        font-size: 30px;
    }
}

@media (max-width: 660px) {
    .header__logo-text {
        margin-left: 15px;
    }
    .header__img  {
        width: 500px;
        height: 230px;
        bottom: 105px;
    }
}

@media (max-width: 580px) {
    .header__container {
        padding: 10px 15px;
    }

    .header__logo-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .header__logo {
        width: 130px;
    }

    .header__line {
        display: none;
    }

    .header__img {
        display: none;
    }

    .header__logo-text {
        text-align: center;
        font-size: 60px;
        line-height: 1.2;
        margin: 10px auto 20px;
        text-shadow:0px 1px 0 rgb(234,169,133),0px -1px 0 rgb(234,169,133),1px 0px 0 rgb(234,169,133),-1px 0px 0 rgb(234,169,133),1px 1px 0 rgb(234,169,133),1px -1px 0 rgb(234,169,133),-1px 1px 0 rgb(234,169,133),-1px -1px 0 rgb(234,169,133),0px 2px 0 rgb(234,169,133),0px -2px 0 rgb(234,169,133),2px 0px 0 rgb(234,169,133),-2px 0px 0 rgb(234,169,133),2px 2px 0 rgb(234,169,133),2px -2px 0 rgb(234,169,133),-2px 2px 0 rgb(234,169,133),-2px -2px 0 rgb(234,169,133);
-webkit-text-shadow:0px 1px 0 rgb(234,169,133),0px -1px 0 rgb(234,169,133),1px 0px 0 rgb(234,169,133),-1px 0px 0 rgb(234,169,133),1px 1px 0 rgb(234,169,133),1px -1px 0 rgb(234,169,133),-1px 1px 0 rgb(234,169,133),-1px -1px 0 rgb(234,169,133),0px 2px 0 rgb(234,169,133),0px -2px 0 rgb(234,169,133),2px 0px 0 rgb(234,169,133),-2px 0px 0 rgb(234,169,133),2px 2px 0 rgb(234,169,133),2px -2px 0 rgb(234,169,133),-2px 2px 0 rgb(234,169,133),-2px -2px 0 rgb(234,169,133);
-moz-text-shadow:0px 1px 0 rgb(234,169,133),0px -1px 0 rgb(234,169,133),1px 0px 0 rgb(234,169,133),-1px 0px 0 rgb(234,169,133),1px 1px 0 rgb(234,169,133),1px -1px 0 rgb(234,169,133),-1px 1px 0 rgb(234,169,133),-1px -1px 0 rgb(234,169,133),0px 2px 0 rgb(234,169,133),0px -2px 0 rgb(234,169,133),2px 0px 0 rgb(234,169,133),-2px 0px 0 rgb(234,169,133),2px 2px 0 rgb(234,169,133),2px -2px 0 rgb(234,169,133),-2px 2px 0 rgb(234,169,133),-2px -2px 0 rgb(234,169,133);
    }

    .header__quote {
        margin: 0px auto;
        font-size: 30px;
        text-align: right;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    }

    .header__contacts {
        display: flex;
        justify-content: space-between;
        margin: 40px auto 20px;
        max-width: 400px;
    }

    .header__contacts-logo {
        margin-right: 0px;
    }
}
