.footer {
    background: #6695AA;
    width: 100%;
}

.footer__logo-text {
    display: block;
    padding: 70px 70px 20px;
    max-width: 780px;
    width:  calc(100% - 70px);
    max-height: 127px;
    margin: auto;
}

.footer__main-container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    position: relative;
}

.footer__subtitle {
    margin: auto;
    width: 100%;
    max-width: 530px;
    color: rgb(56, 54, 54);
}

.footer__contacts {
    display: flex;
    margin: 110px auto 100px;
    justify-content: space-between;
    max-width: 780px;
}

.footer__line {
    display: block;
    height: 32px;
    width: 799px;
    margin: 0px auto 100px;

}